@model PQM.Models.customer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>customer</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.company, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.company)
                @Html.ValidationMessageFor(model => model.company)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address)
                @Html.ValidationMessageFor(model => model.address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.representative, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.representative)
                @Html.ValidationMessageFor(model => model.representative)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email_of_representative, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email_of_representative)
                @Html.ValidationMessageFor(model => model.email_of_representative)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.skype_of_representative, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.skype_of_representative)
                @Html.ValidationMessageFor(model => model.skype_of_representative)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone_number_of_representative, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone_number_of_representative)
                @Html.ValidationMessageFor(model => model.phone_number_of_representative)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
